.country{
    border: 2px solid tomato;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}
.flags{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 2px solid tomato;
    margin: 0 auto 15px auto;
    object-fit: cover;
}